/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Logs
/storage/logs/*.log
/storage/logs/*.txt

# Cache
/storage/framework/cache/data/*
/storage/framework/views/*
/storage/phpstan/cache/
/storage/phpstan/resultCache.php

# Scripts - Không đẩy các file dữ liệu lớn lên git
/scripts/csv/
/scripts/test_goline.sql
/scripts/*.csv
