parameters:
    level: 5
    paths:
        - app
        - config
        - database
    excludePaths:
        - vendor
        - node_modules
        - storage
        - bootstrap/cache
    ignoreErrors:
        # Laravel specific
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::.*#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Builder::.*#'
        # Dynamic properties
        - '#Access to an undefined property.*#'
    tmpDir: storage/phpstan

