parameters:
    level: 5
    paths:
        - app
        - config
        - database
    excludePaths:
        - vendor
        - node_modules
        - storage
        - bootstrap/cache
    ignoreErrors:
        # Dynamic properties
        - '#Access to an undefined property.*#'
        # Cloudinary facade
        - '#Call to an undefined static method CloudinaryLabs\\CloudinaryLaravel\\Facades\\Cloudinary::.*#'
        # Eloquent Relations - HasOne supports where() method
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Relations\\HasOne::where#'
        # Boolean expressions from PHPDoc
        - '#Negated boolean expression is always false#'
    tmpDir: storage/phpstan

